{% extends 'base.html.twig' %}

{% block title %}{{ student.name }}{{ parent() }}{% endblock %}

{% block body %}

<h1>Profil étudiant</h1>

<h2>{{ student.name }}</h2>
<p>{{ student.description }}</p>

<hr>

<p><a href="{{ path('student_list') }}">Retour à la liste des étudiants</a></p>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/student.css') }}">
{% endblock %}
